@model team8finalproject.Models.PortfolioDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortfolioDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumShares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumShares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtendedPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PortfolioDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
