@model IEnumerable<team8finalproject.Models.PortfolioDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumShares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumShares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendedPrice)
            </td>
            <td>
                <a asp-action="Sell" asp-route-id="@item.PortfolioDetailID">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
