@model IEnumerable<team8finalproject.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if(User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create">Create New Stock</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @if (User.IsInRole("Customer"))
                {
                    <a asp-action="Purchase" asp-controller="PortfolioDetail" asp-route-stockID="@item.StockID">Purchase</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-stockID="@item.StockID">Edit </a>
                    <a asp-action="Details" asp-route-id="@item.StockID">Details </a>
                    <a asp-action="Delete" asp-route-id="@item.StockID">Delete</a>
                }


                
            </td>
        </tr>
}
    </tbody>
</table>
    @Html.ActionLink("Stock Portfolio", "DetailsPortfolio", "Product", null, new { @class = "nav-link" })
